<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="./../public/css/emoji.css">
<link rel="stylesheet" href="./../public/css/style.css">

<div class="chat">
    <div class="main">

        <div class="messages">
            <div class="msgHeader">
                <h5>Messages</h5>
                <div class="logoutUser">
                    <small></small>
                    <i class="fa fa-sign-out fa-2x logout" onclick="logout()" title="Logout" aria-hidden="true"></i>
                </div>
            </div>
            <div class="main-messages">

            </div>
        </div>

        <div>
            <form class="msgForm" onsubmit="handleMessageForm(event)">
                <div class="inputs">
                    <div class="form-group col-lg-4">
                        <input type="text" autocomplete="off" class="form-control " id="messageInput"
                            placeholder="Type message and hit ENTER.." data-meteor-emoji="true">
                    </div>
                    <div>
                        <button type="button" id="msgBtn" name="msgBtn" onclick="handleMessageForm(event)"
                            class="btn btn-primary">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<script id="msgTemp" type="text/html">
    <div id="message" class={{msg.float}}>
        <p class="msg_meta">
            <span class="msg_name">{{msg.sender}}</span>
            <span class="msg_time" > {{msg.createdAt}}</span>
        </p>
        <p>
            {{msg.text}}
        </p>
    </div>
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./../public/js/chat.js"></script>