<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Offline | ChatApp</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            font-family: monospace;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <h2>Looks like you are without data/WiFi ;(</h2>
    <h3>Turn your internet ON Mate :)</h3>
</body>

</html>